html {
    font-family: 'Montserrat', Georgia, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #202020;
}

body {
    background-color: #fefae0;
    
    margin: 0rem;
    padding: 0rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 0 1rem;

    color: #19180a;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;

    color: #3f220f;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;

    color: #3f220f;
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;

    color: #3f220f;
}

h5 {
    font-size: 1rem;

    color: #5AED83;
}

main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 0rem;
    margin: 0rem;
}

div {
    padding: 0.5rem;
}


p {
	font-size: 1.1rem;
}