/* Define uma fonte base e fundo para o corpo */
body {
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    font-family: Arial, sans-serif; /* Define a família de fontes */
    background-color: #f4f4f4; /* Define a cor de fundo */
    color: #333; /* Define a cor do texto */
    line-height: 1.6; /* Define a altura da linha */
}

/* Estiliza a seção principal */
main {
    display: flex; /* Usa layout flexbox */
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: center; /* Centraliza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */

    gap: 60px; /* Adiciona espaço entre os itens */
    /* margin: 0 200px; Adiciona margem à esquerda e à direita */
    margin: min(10%, 100px); /* Adiciona margem responsiva */
    margin: 100px 50px 100px 50px; /* Adiciona margens no topo, direita, inferior e esquerda */

    /* height: 100vh; Define a altura para a altura total da viewport */
    height: auto;

    background-color: #f0f0f0; /* Define a cor de fundo */

    border-bottom: #35424a 4px solid; /* Adiciona uma borda inferior */
    border-radius: 10px;

    text-align: center; /* Centraliza o texto */
}

p {
    display: flex; /* Usa layout flexbox */
    justify-items: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */

    text-align: center; /* Justifica o texto */
    color: #333; /* Define a cor do texto */
    font: 20px Arial, sans-serif; /* Define a família de fontes e o tamanho da fonte */
    line-height: 1.5; /* Define o espaço entre linhas */

    padding: 40px; /* Adiciona padding em todos os lados?*/
}

section {
    display: flex; /* Usa layout flexbox */
    margin: 80px 0px; /* Adiciona margem em todos os lados */
    flex-direction: column; /* Organiza os itens em coluna */
}

img {
    max-width: 800px;
    height: auto;
    margin: 10px 20px 0px 20px; /* Adiciona margem em todos os lados. A ordem de definição de margem é TOPO, DIREITA, BAIXO, ESQUERDA */
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(58, 56, 56);
}

.img-title {
    font-size: medium;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.img-div {
    display: flex; /* Usa layout flexbox */
    flex-direction: column;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    border-bottom: 20px;
}

.caption {
    font-size: 0.8em; /* Define o tamanho da fonte */
    color: #666; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto */
}

.separator {
    width: 95%; /* Define a largura */
    height: auto; /* Define a altura */

    border-bottom: #e8491d 1px dashed; /* Adiciona uma borda inferior */
    border-width: 0 0 2px 0; /* Define a largura da borda */

    /* offset-x | offset-y | blur-radius | color */
    /*  Quanto fica ao eixo x do elemento  */
    box-shadow: 0px 10px 20px #333;
}

/* Estiliza a seção de introdução */
.intro {
    margin: 80px 0; /* Adiciona margem no topo e na parte inferior */
}

/* Estiliza o contêiner principal */
.container {
    width: 80%; /* Define a largura do contêiner */
    margin: 0 auto; /* Centraliza o contêiner */
    overflow: hidden; /* Oculta o overflow */
}